In [1]:
import pandas as pd

In [4]:
# Accidents
df_2017 = pd.read_csv("datasets/1.-Transportation/accidents-2017.csv")
df_2016 = pd.read_csv("datasets/1.-Transportation/2016_accidents_gu_bcn.csv")
# Motorcycles
motos_2017 = pd.read_csv("datasets/1.-Transportation/2017_cilindrada_motos.csv")
motos_2016 = pd.read_csv("datasets/1.-Transportation/2016_cilindrada_motos (1).csv")

In [8]:
motos_2016.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Cilindrada_motos,Nombre_motos
0,2016,1,Ciutat Vella,1,el Raval,Fins a 75 cc,98
1,2016,1,Ciutat Vella,2,el Barri Gòtic,Fins a 75 cc,99
2,2016,1,Ciutat Vella,3,la Barceloneta,Fins a 75 cc,220
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Fins a 75 cc,149
4,2016,2,Eixample,5,el Fort Pienc,Fins a 75 cc,173

In [9]:
motos_2017.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Cilindrada_motos,Nombre_motos
0,2017,1,Ciutat Vella,1,el Raval,Fins a 75 cc,93
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Fins a 75 cc,133
2,2017,1,Ciutat Vella,3,la Barceloneta,Fins a 75 cc,200
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Fins a 75 cc,224
4,2017,2,Eixample,5,el Fort Pienc,Fins a 75 cc,177

In [15]:
motos_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
Any                 592 non-null int64
Codi_Districte      592 non-null int64
Nom_Districte       592 non-null object
Codi_Barri          592 non-null int64
Nom_Barri           592 non-null object
Cilindrada_motos    592 non-null object
Nombre_motos        592 non-null int64
dtypes: int64(4), object(3)
memory usage: 32.5+ KB

In [16]:
motos_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
Any                 592 non-null int64
Codi_Districte      592 non-null int64
Nom_Districte       592 non-null object
Codi_Barri          592 non-null int64
Nom_Barri           592 non-null object
Cilindrada_motos    592 non-null object
Nombre_motos        592 non-null int64
dtypes: int64(4), object(3)
memory usage: 32.5+ KB

In [18]:
# Both 592 entries
motos_2017.groupby()

In [19]:
df_2016.head()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Descripcio_causa_vianant,Numero_morts,Numero_lesionats_lleus,Numero_lesionats_greus,Numero_victimes,Numero_vehicles_implicats,Coordenada_UTM_X,Coordenada_UTM_Y,Longitud,Latitud
0,2016S001896,-1,Desconegut,-1,Desconegut,-1,CTRA HTA CERDANY ...,1,Dimecres,Dc,...,No és causa del vianant,0,0,0,0,1,429369.52,4587865.50,2.153440,41.437411
1,2016S004886,-1,Desconegut,-1,Desconegut,-1,FOC / Jocs del 92 ...,NaN,Dimarts,Dm,...,No és causa del vianant,0,2,0,2,2,428989.33,4579247.93,2.149901,41.359762
2,2016S000252,-1,Desconegut,-1,Desconegut,-1,CTRA C-58 (RIPOLLE ...,0,Dimarts,Dm,...,No és causa del vianant,0,2,0,2,4,431940.30,4590347.92,2.183929,41.459991
3,2016S000860,-1,Desconegut,-1,Desconegut,-1,NÚMERO 4 / F ...,NaN,Dimecres,Dc,...,No és causa del vianant,0,1,0,1,2,426830.03,4576250.78,2.124450,41.332574
4,2016S001165,-1,Desconegut,-1,Desconegut,-1,RDA LITORAL(LLOBRE ...,K129,Diumenge,Dg,...,No és causa del vianant,0,3,0,3,4,430583.49,4579502.49,2.168929,41.362194